@media(max-width: 1198px) {
    .navbar {
        padding: 20px 29px;
    }

    .topTxt p{
        width: 80%;
    }

    .txt-container {
        padding: 23.8% 3%;
    }
}

@media(max-width:990px) {
    #menu-icon {
        display: block;
        cursor: pointer;
    }

    .nav-btn {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 90%;
        right: -90%;
        background-color: white;
        width: 30.2vw;
        height: 31vh;
        align-items: left;
        transition: all .8s ease;
}

    .nav-btn ul {
        display: flex;
        flex-direction: column;
        position: relative;
        right: 8rem;
    }

    .nav-btn ul li a{
        color: black;
        line-height: 3rem;
    }

    .nav-btn button {
        margin-bottom: 30px;
        /* margin-left: 1.4rem; */
        position: relative;
        right: 8rem;
    }

    .nav-btn.open {
        right: 0%;
    }

    .txt-container {
        width: 100%;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 18% 13%;
    }

    .topTxt {
        /* border: 2px solid black; */
        width: 100%;
    }

    .topTxt p {
        width: 100%;
    }

    .signUp {
        width: 100%;
        padding: 10px 3%;
    }

    #emailAdd, #password {
        width: 93.6%;
    }
}

@media(max-width:862px) {
    .nav-btn ul {
        position: relative;
        right: 6rem;
    }

    .nav-btn button {
        right: 6rem;
    }
}

@media(max-width:686px) {
    .nav-btn ul {
        right: 4rem;
    }

    .nav-btn button {
        right: 4rem;
    }
}


@media(max-width:582px) {
    .navbar {
        padding-right: 14%;
    }

    .nav-btn {
        width: 40%;
    }
}

@media(max-width:528px) {
    .navbar {
        padding-right: 20%;
    }

    .nav-btn {
        width: 50%;
    }
}

@media(max-width:492px) {
    .navbar {
        padding-right: 24%;
    }

    .nav-btn {
        width: 50%;
    }

    .nav-btn ul {
        right: 7rem;
    }

    .nav-btn button {
        right: 7.6rem;
    }
}

@media(max-width:468px) {
    .navbar {
        padding-right: 30%;
    }

    .nav-btn {
        width: 60%;
    }
}

@media(max-width:430px) {
    .navbar {
        padding-right: 35%;
    }
}

@media(max-width:414px) {
    .navbar {
        padding-right: 40%;
    }
}

@media(max-width:412px) {
    .nav-btn ul {
        right: 9.5rem;
    }

    .nav-btn button {
        right: 9.5rem;
    }
}